[submodule "vendor/PyRansacLib"]
	path = vendor/PyRansacLib
	url = https://github.com/TanWeiXuan/PyRansacLib.git
[submodule "vendor/opengv"]
	path = vendor/opengv
	url = https://github.com/laurentkneip/opengv.git
[submodule "vendor/eigen"]
	path = vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
